<h2> Angular with Spring boot </h2>
{{msg}}
<form>

  Contact Name: <input type="text" name="name" [(ngModel)]="contact.name" /> <br/>
  Contact E-mail: <input type="text" name="email" [(ngModel)]="contact.email" /> <br/>
  Contact Phone: <input type="text" name="phone" [(ngModel)]="contact.phone" /> <br/>

  <input type="button" value="Save" (click)="saveContact()" />

</form>

<hr/>
<table>
   <thead>
    <tr>
      <th>Name</th>
      <th>Eame</th>
      <th>Phone</th>
    </tr>
   </thead>
   <tbody>
    <tr *ngFor="let contact of contacts"> 
      <td>{{contact.name}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.phone}}</td>

    </tr>
   </tbody>
</table>